<%= render 'shared/header' %>

<div class="topic-content">
  <div class="topic-content-head">
  </div>

  <ul>
    <% @articles.each do |article| %>
      <div class="article-link">
        <li>
          <div>
            <span class="article-title"><%= article.title %></span>
          </div>
          <div>
            <span class="article-posted"><%= article.posted %></span>
            <% article.tags.each do |tag| %>
              <span class="article-tag"><%= tag %></span>
            <% end %>
            <span class="article-id"><%= article.gist_id %></span>
          </div>
        </li>
      </div>
    <% end %>
  </ul>

  <div class="topic-content-foot">
  </div>
</div>
