<%= render 'shared/header' %>

<div class="page_content">
  <% @pagings.each do |page, cls| %>
    <span class="<%= cls %>" tag="<%= page %>"><%= page %></span>
  <% end %>
</div>

<div class="topic-content">
  <% @articles.each do |article| %>
    <div class="article-link">
      <div class="line1">
        <span class="article-title">
          <i class="icon-paw"></i>
          <%= article.title %>
        </span>
      </div>
      <div class="line2">
        <span class="article-posted">
          <i class="icon-calendar"></i>
          <%= article.posted %>
        </span>
        <% article.tags.each do |tag| %>
          <span class="article-tag">
            <i class="icon-tags-1"></i>
            <%= tag %>
          </span>
        <% end %>
        <span class="article-id"><%= article.gist_id %></span>
      </div>
    </div>
  <% end %>
</div>
